USE [master]
GO
/****** Object:  Database [KaraokeEcho]    Script Date: 10/29/2023 8:08:46 AM ******/
CREATE DATABASE [KaraokeEcho]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KaraokeEcho', FILENAME = N'D:\DBS_Karaoke\KaraokeEcho.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KaraokeEcho_log', FILENAME = N'D:\DBS_Karaoke\KaraokeEcho_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KaraokeEcho].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KaraokeEcho]
GO
/****** Object:  Table [dbo].[Ca]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ca](
	[maCa] [nchar](10) NOT NULL,
	[tenCa] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_CA] PRIMARY KEY CLUSTERED 
(
	[maCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDichVuHoaDon]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVuHoaDon](
	[soLuong] [int] NULL,
	[maDichVu] [nchar](10) NOT NULL,
	[maHoaDon] [nchar](10) NOT NULL,
	[maPhong] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ChiTietDichVuHoaDon] PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC,
	[maHoaDon] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhongHoaDon]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhongHoaDon](
	[thoiGianNhanPhong] [datetime] NULL,
	[thoiGianTraPhong] [datetime] NULL,
	[ghiChu] [nvarchar](50) NULL,
	[maHoaDon] [nchar](10) NOT NULL,
	[maPhong] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ChiTietPhongHoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[maChucVu] [nchar](10) NOT NULL,
	[tenChucVu] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[maChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [nchar](10) NOT NULL,
	[tenDichVu] [nvarchar](50) NOT NULL,
	[gia] [float] NULL,
	[soLuong] [int] NULL,
	[trangThai] [int] NULL,
	[moTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nchar](10) NOT NULL,
	[ngayLapHoaDon] [datetime] NULL,
	[trangThai] [int] NULL,
	[maKhachHang] [nchar](10) NULL,
	[maUuDai] [nchar](10) NULL,
	[maNhanVien] [nchar](10) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[soDienThoai] [nchar](10) NOT NULL,
	[tenKhachHang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[maLoaiPhong] [nchar](10) NOT NULL,
	[loaiPhong] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[maLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nchar](10) NOT NULL,
	[tenNhanVien] [nvarchar](50) NOT NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [bit] NULL,
	[CMND] [nchar](12) NULL,
	[diaChi] [nvarchar](50) NULL,
	[soDienThoai] [nchar](10) NOT NULL,
	[trangThai] [bit] NULL,
	[gmail] [nchar](20) NULL,
	[maChucVu] [nchar](10) NULL,
	[maCa] [nchar](10) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[maPhieuDatPhong] [nchar](10) NOT NULL,
	[thoiGianTaoPhieu] [datetime] NULL,
	[thoiGianNhanPhong] [datetime] NULL,
	[trangThai] [int] NULL,
	[datCoc] [float] NULL,
	[maNhanVien] [nchar](10) NULL,
	[maKhachHang] [nchar](10) NULL,
	[maPhong] [nchar](10) NULL,
	[maHoaDon] [nchar](10) NULL,
 CONSTRAINT [PK_PhieuDatPhong] PRIMARY KEY CLUSTERED 
(
	[maPhieuDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [nchar](10) NOT NULL,
	[tenPhong] [nvarchar](50) NOT NULL,
	[trangThai] [int] NULL,
	[maLoaiPhong] [nchar](10) NULL,
	[sucChuaToiDa] [int] NULL,
	[giaPhongTheoGio] [float] NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenTaiKhoan] [nchar](10) NOT NULL,
	[matKhau] [nchar](30) NOT NULL,
	[vaiTro] [bit] NULL,
	[maNhanVien] [nchar](10) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[tenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UuDai]    Script Date: 10/29/2023 8:08:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDai](
	[maUuDai] [nchar](10) NOT NULL,
	[tenUuDai] [nvarchar](50) NOT NULL,
	[giamGia] [float] NULL,
	[ngayBatDauApDung] [datetime] NULL,
	[ngayKetThucApDung] [datetime] NULL,
 CONSTRAINT [PK_UuDai] PRIMARY KEY CLUSTERED 
(
	[maUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ca] ([maCa], [tenCa], [moTa]) VALUES (N'001       ', N'sáng', NULL)
INSERT [dbo].[Ca] ([maCa], [tenCa], [moTa]) VALUES (N'002       ', N'chiều', NULL)
INSERT [dbo].[Ca] ([maCa], [tenCa], [moTa]) VALUES (N'003       ', N'tối', NULL)
GO
INSERT [dbo].[ChiTietDichVuHoaDon] ([soLuong], [maDichVu], [maHoaDon], [maPhong]) VALUES (20, N'001       ', N'001       ', N'002       ')
INSERT [dbo].[ChiTietDichVuHoaDon] ([soLuong], [maDichVu], [maHoaDon], [maPhong]) VALUES (30, N'002       ', N'001       ', N'002       ')
GO
INSERT [dbo].[ChiTietPhongHoaDon] ([thoiGianNhanPhong], [thoiGianTraPhong], [ghiChu], [maHoaDon], [maPhong]) VALUES (CAST(N'2023-06-03T00:00:00.000' AS DateTime), CAST(N'2023-06-03T09:00:00.000' AS DateTime), N'nothing', N'001       ', N'001       ')
INSERT [dbo].[ChiTietPhongHoaDon] ([thoiGianNhanPhong], [thoiGianTraPhong], [ghiChu], [maHoaDon], [maPhong]) VALUES (CAST(N'2023-07-01T00:00:00.000' AS DateTime), CAST(N'2023-07-01T08:00:00.000' AS DateTime), NULL, N'002       ', N'002       ')
GO
INSERT [dbo].[ChucVu] ([maChucVu], [tenChucVu], [moTa]) VALUES (N'001       ', N'quản lí', NULL)
INSERT [dbo].[ChucVu] ([maChucVu], [tenChucVu], [moTa]) VALUES (N'002       ', N'nhân viên', NULL)
GO
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [gia], [soLuong], [trangThai], [moTa]) VALUES (N'001       ', N'coca', 800, 300, 1, NULL)
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [gia], [soLuong], [trangThai], [moTa]) VALUES (N'002       ', N'pepsi', 800, 400, 0, NULL)
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLapHoaDon], [trangThai], [maKhachHang], [maUuDai], [maNhanVien]) VALUES (N'001       ', CAST(N'2023-05-03T00:00:00.000' AS DateTime), 1, N'0398242145', N'001       ', N'001       ')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLapHoaDon], [trangThai], [maKhachHang], [maUuDai], [maNhanVien]) VALUES (N'002       ', CAST(N'2023-06-01T00:00:00.000' AS DateTime), 0, N'0901234568', N'002       ', N'002       ')
GO
INSERT [dbo].[KhachHang] ([soDienThoai], [tenKhachHang]) VALUES (N'0398242145', N'Nguyễn Hưng Tùng')
INSERT [dbo].[KhachHang] ([soDienThoai], [tenKhachHang]) VALUES (N'0398242146', N'Đặng Nam Phong')
INSERT [dbo].[KhachHang] ([soDienThoai], [tenKhachHang]) VALUES (N'0398242147', N'Đặng Quân Anh')
GO
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [loaiPhong], [moTa]) VALUES (N'001       ', N'vip', N'ko có')
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [loaiPhong], [moTa]) VALUES (N'002       ', N'thường', NULL)
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [ngaySinh], [gioiTinh], [CMND], [diaChi], [soDienThoai], [trangThai], [gmail], [maChucVu], [maCa]) VALUES (N'001       ', N'táo', CAST(N'2000-12-12' AS Date), 0, N'0909090909  ', N'jkljlkjk', N'0980977789', 1, N'mot2                ', N'001       ', N'001       ')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [ngaySinh], [gioiTinh], [CMND], [diaChi], [soDienThoai], [trangThai], [gmail], [maChucVu], [maCa]) VALUES (N'002       ', N'chuối', CAST(N'2023-10-28' AS Date), 1, N'072222      ', N'gò vấp', N'0123      ', 0, N'2@l.l               ', N'002       ', N'001       ')
GO
INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [thoiGianTaoPhieu], [thoiGianNhanPhong], [trangThai], [datCoc], [maNhanVien], [maKhachHang], [maPhong], [maHoaDon]) VALUES (N'001       ', CAST(N'2023-10-29T00:00:00.000' AS DateTime), CAST(N'2023-11-03T00:00:00.000' AS DateTime), 1, 900, N'002       ', N'0901234567', N'001       ', N'001       ')
INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [thoiGianTaoPhieu], [thoiGianNhanPhong], [trangThai], [datCoc], [maNhanVien], [maKhachHang], [maPhong], [maHoaDon]) VALUES (N'002       ', CAST(N'2023-10-15T00:00:00.000' AS DateTime), CAST(N'2023-10-30T00:00:00.000' AS DateTime), 0, 1000, N'001       ', N'0933456789', N'002       ', N'002       ')
GO
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [trangThai], [maLoaiPhong], [sucChuaToiDa], [giaPhongTheoGio]) VALUES (N'001       ', N'p90', 2, N'001       ', 5, 900)
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [trangThai], [maLoaiPhong], [sucChuaToiDa], [giaPhongTheoGio]) VALUES (N'002       ', N'p98', 1, N'002       ', 15, 8000)
GO
INSERT [dbo].[TaiKhoan] ([tenTaiKhoan], [matKhau], [vaiTro], [maNhanVien]) VALUES (N'0980977789', N'123                           ', 1, N'001       ')
GO
INSERT [dbo].[UuDai] ([maUuDai], [tenUuDai], [giamGia], [ngayBatDauApDung], [ngayKetThucApDung]) VALUES (N'001       ', N'yeah', 0.3, CAST(N'2023-12-12T09:00:00.000' AS DateTime), CAST(N'2024-01-30T00:00:00.000' AS DateTime))
INSERT [dbo].[UuDai] ([maUuDai], [tenUuDai], [giamGia], [ngayBatDauApDung], [ngayKetThucApDung]) VALUES (N'002       ', N'ah', 0.3, CAST(N'2023-10-28T23:14:05.000' AS DateTime), CAST(N'2023-10-28T23:14:05.000' AS DateTime))
GO
ALTER TABLE [dbo].[ChiTietDichVuHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_madichvu] FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[ChiTietDichVuHoaDon] CHECK CONSTRAINT [fk_madichvu]
GO
ALTER TABLE [dbo].[ChiTietDichVuHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_mahoadon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietDichVuHoaDon] CHECK CONSTRAINT [fk_mahoadon]
GO
ALTER TABLE [dbo].[ChiTietDichVuHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_map] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietDichVuHoaDon] CHECK CONSTRAINT [fk_map]
GO
ALTER TABLE [dbo].[ChiTietPhongHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_mahd] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietPhongHoaDon] CHECK CONSTRAINT [fk_mahd]
GO
ALTER TABLE [dbo].[ChiTietPhongHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_maphong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietPhongHoaDon] CHECK CONSTRAINT [fk_maphong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([soDienThoai])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_UuDai] FOREIGN KEY([maUuDai])
REFERENCES [dbo].[UuDai] ([maUuDai])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_UuDai]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Ca] FOREIGN KEY([maCa])
REFERENCES [dbo].[Ca] ([maCa])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_Ca]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([maChucVu])
REFERENCES [dbo].[ChucVu] ([maChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_HoaDon]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([soDienThoai])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([maLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([maLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
USE [master]
GO
